* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: Futura;
  src: url("./Assets/fonts/Futura\ Lt\ Light.ttf");
}
@font-face {
  font-family: LuloCleanBold;
  src: url("./Assets/fonts/FontsFree-Net-Lulo-Clean-W01-One-Bold.ttf");
}
@font-face {
  font-family: LuloClean;
  src: url("./Assets/fonts/FontsFree-Net-Lulo-Clean-W01-One.ttf");
}
.futura {
  font-family: "Futura", "sans-serif";
}
.lulu-bold {
  font-family: "LuloCleanBold", "sans-serif";
}
.lulu {
  font-family: "LuloClean", "sans-serif";
}
